In [639]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("dataset/student-depression.csv")
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0

In [640]:
df.drop("id",inplace=True,axis=1)
df.head()

,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0

In [641]:
df.describe()

,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress,Depression
count,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27898.000000,27901.000000
mean,25.822300,3.141214,0.000430,7.656104,2.943837,0.000681,7.156984,3.139867,0.585499
std,4.905687,1.381465,0.043992,1.470707,1.361148,0.044394,3.707642,1.437347,0.492645
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,21.000000,2.000000,0.000000,6.290000,2.000000,0.000000,4.000000,2.000000,0.000000
50%,25.000000,3.000000,0.000000,7.770000,3.000000,0.000000,8.000000,3.000000,1.000000
75%,30.000000,4.000000,0.000000,8.920000,4.000000,0.000000,10.000000,4.000000,1.000000
max,59.000000,5.000000,5.000000,10.000000,5.000000,4.000000,12.000000,5.000000,1.000000

In [642]:
df.dropna(axis=0,inplace=True)
df.describe()

,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress,Depression
count,27898.000000,27898.000000,27898.000000,27898.000000,27898.000000,27898.000000,27898.000000,27898.000000,27898.000000
mean,25.822174,3.141336,0.000430,7.656160,2.943974,0.000681,7.156570,3.139867,0.585526
std,4.905651,1.381462,0.043994,1.470708,1.361122,0.044397,3.707598,1.437347,0.492640
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,21.000000,2.000000,0.000000,6.290000,2.000000,0.000000,4.000000,2.000000,0.000000
50%,25.000000,3.000000,0.000000,7.770000,3.000000,0.000000,8.000000,3.000000,1.000000
75%,30.000000,4.000000,0.000000,8.920000,4.000000,0.000000,10.000000,4.000000,1.000000
max,59.000000,5.000000,5.000000,10.000000,5.000000,4.000000,12.000000,5.000000,1.000000

In [643]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27898 entries, 0 to 27900
Data columns (total 17 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Gender                                 27898 non-null  object
 1   Age                                    27898 non-null  float64
 2   City                                   27898 non-null  object
 3   Profession                             27898 non-null  object
 4   Academic Pressure                      27898 non-null  float64
 5   Work Pressure                          27898 non-null  float64
 6   CGPA                                   27898 non-null  float64
 7   Study Satisfaction                     27898 non-null  float64
 8   Job Satisfaction                       27898 non-null  float64
 9   Sleep Duration                         27898 non-null  object
 10  Dietary Habits                         27898 non-null  object
 11  Degree                                 27898 non-null  object
 12  Have you ever had suicidal thoughts ?  27898 non-null  object
 13  Work/Study Hours                       27898 non-null  float64
 14  Financial Stress                       27898 non-null  float64
 15  Family History of Mental Illness       27898 non-null  object
 16  Depression                             27898 non-null  int64
dtypes: float64(8), int64(1), object(8)
memory usage: 3.8+ MB

In [644]:
df['Sleep Duration'].value_counts()

Sleep Duration
Less than 5 hours    8309
7-8 hours            7346
5-6 hours            6181
More than 8 hours    6044
Others                 18
Name: count, dtype: int64

In [645]:
numerical_column = ['Age','Academic Pressure','Work Pressure','CGPA','Study Satisfaction','Job Satisfaction','Work/Study Hours','Financial Stress','Depression']

for column in numerical_column:
    df[column] = (df[column]-df[column].min())/(df[column].max()-df[column].min())

In [646]:
df.head()

,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,0.365854,Visakhapatnam,Student,1.0,0.0,0.897,0.4,0.0,5-6 hours,Healthy,B.Pharm,Yes,0.250000,0.00,No,1.0
1,Female,0.146341,Bangalore,Student,0.4,0.0,0.590,1.0,0.0,5-6 hours,Moderate,BSc,No,0.250000,0.25,Yes,0.0
2,Male,0.317073,Srinagar,Student,0.6,0.0,0.703,1.0,0.0,Less than 5 hours,Healthy,BA,No,0.750000,0.00,Yes,0.0
3,Female,0.243902,Varanasi,Student,0.6,0.0,0.559,0.4,0.0,7-8 hours,Moderate,BCA,Yes,0.333333,1.00,Yes,1.0
4,Female,0.170732,Jaipur,Student,0.8,0.0,0.813,0.6,0.0,5-6 hours,Moderate,M.Tech,Yes,0.083333,0.00,No,0.0

In [647]:
X,y = df.drop("Depression",axis=1),df['Depression']

In [648]:
X = pd.get_dummies(X)
X.head(2)

,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress,Gender_Female,Gender_Male,...,Degree_MD,Degree_ME,Degree_MHM,Degree_MSc,Degree_Others,Degree_PhD,Have you ever had suicidal thoughts ?_No,Have you ever had suicidal thoughts ?_Yes,Family History of Mental Illness_No,Family History of Mental Illness_Yes
0,0.365854,1.0,0.0,0.897,0.4,0.0,0.25,0.00,False,True,...,False,False,False,False,False,False,False,True,True,False
1,0.146341,0.4,0.0,0.590,1.0,0.0,0.25,0.25,True,False,...,False,False,False,False,False,False,True,False,False,True

In [649]:
data_split = int(len(X)*0.8)
# X = np.array(X)
X_train,X_test,y_train,y_test = X[:data_split], X[data_split:], y[:data_split], y[data_split:]

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(22318, 117) (5580, 117) (22318,) (5580,)

In [650]:
X_train.head(2)

,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress,Gender_Female,Gender_Male,...,Degree_MD,Degree_ME,Degree_MHM,Degree_MSc,Degree_Others,Degree_PhD,Have you ever had suicidal thoughts ?_No,Have you ever had suicidal thoughts ?_Yes,Family History of Mental Illness_No,Family History of Mental Illness_Yes
0,0.365854,1.0,0.0,0.897,0.4,0.0,0.25,0.00,False,True,...,False,False,False,False,False,False,False,True,True,False
1,0.146341,0.4,0.0,0.590,1.0,0.0,0.25,0.25,True,False,...,False,False,False,False,False,False,True,False,False,True

In [651]:
import numpy as np

# Fungsi Sigmoid
def sigmoid(z):
    z = np.asarray(z)  # Memastikan z adalah array
    return 1 / (1 + np.exp(-z))

# Fungsi Binary Cross-Entropy
def binary_cross_entropy(X, y, w, b):
    m = len(X)  # Jumlah sampel
    prediction = np.dot(X, w) + b  # Prediksi (m,)
    prediction = sigmoid(prediction)  # Terapkan sigmoid
    
    # Menghitung error menggunakan binary cross-entropy
    error = -(y * np.log(prediction) + (1 - y) * np.log(1 - prediction))
    error = np.sum(error) / m  # Rata-rata error per sampel
    return error

In [652]:
X_train = X_train.to_numpy()
X_test = X_test.to_numpy()
y_train = y_train.to_numpy()
y_test = y_test.to_numpy()

w = np.ones(X_train.shape[1])
b = 0
prediction = np.dot(X_train, w) + b  # Prediksi (m,)
prediction = sigmoid(prediction)  # Terapkan sigmoid

TypeError: loop of ufunc does not support argument 0 of type float which has no callable exp method

In [563]:
# X_train,X_test,y_train,y_test = np.array(X[:data_split]), np.array(X[data_split:]), np.array(y[:data_split]), np.array(y[data_split:])